<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
      <configSections>
      </configSections>
      <connectionStrings>
            <add name="db" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Hassan Arshad\Documents\MedicalStore.mdf;Integrated Security=True;Connect Timeout=30"
                  providerName="System.Data.SqlCClient" />
            <add name="Medical_Store.Properties.Settings.MedicalStoreConnectionString"
                  connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MedicalStore.mdf;Integrated Security=True;Connect Timeout=30"
                  providerName="System.Data.SqlClient" />
      </connectionStrings>
</configuration>